# Python bytecode
__pycache__/
*.pyc

# pytest
.pytest_cache/

# macOS
.DS_Store

# Python virtual environment
.venv/
venv/

.vscode/
*.so

cpp/build/
# C++ build artifacts
src/cpp/build/
src/cpp_musig/build

CLAUDE.md
.codex/
log.txt
